<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Duan1chinhthuc"
        tools:targetApi="31">
        <activity
            android:name=".Activity_user.gio_hang_activity"
            android:exported="false" />
        <activity
            android:name=".Activity_user.update_thongtingiaohang"
            android:exported="false" />
        <activity
            android:name=".Activity_ADMIN.MainActivity_admin"
            android:exported="false" />
        <activity
            android:name=".Activity_user.UpdatePasswordActivity"
            android:exported="false" />
        <activity
            android:name=".DAO.UpdatePassword"
            android:exported="false" />
        <activity
            android:name=".Frament_user.Fragment_canhan"
            android:exported="false" />
        <activity
            android:name=".Activity_user.DangKyactivity"
            android:exported="false" />
        <activity
            android:name=".Activity_user.order"
            android:exported="false" />
        <activity
            android:name=".giohang"
            android:exported="false" />
        <activity
            android:name=".Activity_user.QuenmatkhauActivity"
            android:exported="false" />
        <activity
            android:name=".Activity_user.MainActivity"
            android:exported="false" />
        <activity
            android:name=".Activity_user.dangnhap"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>